body {
    width: 960px;
    font-family: Arial,'Helvetica Neue', Helvetica, sans-serif;
}

.logo_header {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    overflow: auto;
    width: 300px;
    text-align: center;
    clear: both;
    font-family: Georgia,Times,'Times New Roman', serif
  
}

.button1,
.button2,
.button3 {
    float: right;
    padding: 10px;

}

.content {
	width:650px;

}

h1 {
    color: #4aaaa5;
    font-family: Georgia,Times,'Times New Roman', serif
}

p {
    color: #777777;
    
}

footer {
    background: #666666;
    color: #777777;
    text-align: center;
    padding: 10px;
    width: 960px;

}
